<%- include('partials/header') %> <%- include('partials/navbar') %>

<header class="jumbotron">
    <div class="container">
        <h1>Welcome to <a href="/">YelpCamp</a></h1>
        <h2>Details on the <%= camp.name %> Campground</h2>
        <p>Or go back and view all campgrounds</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/"
                >View all Campgrounds</a
            >
        </p>
    </div>
</header>

<main class="show">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <!-- intro -->
                <!-- list -->
                <ul class="list-group">
                    <li class="list-group-item active"></li>
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                </ul>
                <!-- map goes here -->
            </div>
            <div class="col-md-9">
                <h3><a><%= camp.name %></a></h3>
                <p>
                    <em>$9.00/night</em> |
                    <em>Submitted by <%= camp.author.username %></em>
                </p>
                <% if (user && camp.author.id.equals(user._id)) { %>
                <div class="campground__user-only" style="margin-bottom: 1rem;">
                    <a
                        href="/campgrounds/<%= camp.id %>/edit"
                        class="btn btn-warning"
                        >Edit</a
                    >

                    <form
                        action="/campgrounds/<%= camp.id %>?_method=DELETE"
                        method="POST"
                        style="display: inline-block;"
                    >
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <% } %>

                <p><%= camp.desc %></p>
                <img src="<%= camp.image %>" alt="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p class="comment-button">
                    <a
                        href="/campgrounds/<%= camp.id %>/comments/new"
                        class="btn btn-primary btn-lg"
                        >Write a new comment</a
                    >
                </p>
            </div>
            <div class="col-md-9">
                <% if (camp.comments.length > 0) { %>
                <div class="comments">
                    <% camp.comments.forEach(comment => { %>
                    <div class="comment">
                        <strong><%= comment.author.username %></strong>
                        <em>10 days ago</em>
                        <p><%= comment.text %></p>
                        <% if (user && comment.author.id.equals(user._id)) { %>
                        <div class="comments__owner-only">
                            <a
                                href="/campgrounds/<%= camp.id %>/comments/<%= comment._id %>/edit"
                                class="btn btn-warning btn-sm"
                                >Edit</a
                            >
                            <form
                                action="/campgrounds/<%= camp.id %>/comments/<%= comment.id %>?_method=DELETE"
                                method="POST"
                                style="display: inline-block;"
                            >
                                <input
                                    class="btn btn-danger btn-sm"
                                    type="submit"
                                    value="Delete"
                                />
                            </form>
                        </div>
                        <% } %>
                    </div>
                <% });} %>
            </div>
        </div>
    </div>
</main>

<%- include('partials/footer') %>
